
background {
    -fx-background-color: #f5f5f5;
}

.stylePane {
    -fx-background-color: #e2e2e2;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-effect: dropshadow(one-pass-box , rgba(0, 0, 0, 0.1), 10, 0.5, 0.0, 0.0);
}

.button {
    -fx-font-family: Roboto;
    -fx-text-fill: #d3d3d3;
    -fx-font-size: 13px;
    -fx-background-color: #444444;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #292929;
    -fx-background-size: 30px;
    /*-fx-effect: dropshadow(one-pass-box , rgba(0, 0, 0, 0.1), 10, 0.5, 0.0, 0.0);*/
}

.button:hover {
    -fx-cursor: Hand;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}